@CHARSET "ISO-8859-1";
p {
	background-color: yellow;
	color: blue;
	text-align: justify;
/* 	line-height: 3px; tamanho da altura de cada linha */
/*  letter-spacing: 3px; tamanho do espaço entre cada letra */
/*  word-spacing: 5px; tamanho do espaço entre cada palavra */
  	text-indent: 30px; /* tamanho da margem da primeira linha do texto */
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  border-color: red;
  border-style: solid;
  border-width: 1px
}

h1 {
  font-family: serif;
  background-image: url(sobre-background.jpg);
}

h2 {
  font-family: sans-serif;
  font-style: italic;
}

p {
  font-family: monospace;
}
	